{
  "git.confirmSync": false,
  "editor.minimap.enabled": false,
  "window.zoomLevel": 0,
  "liveServer.settings.donotShowInfoMsg": true,
  "workbench.startupEditor": "newUntitledFile",
  "terminal.integrated.shell.windows": "C:\\Program Files\\Git\\bin\\bash.exe",
  "editor.formatOnSave": true,
  "prettier.printWidth": 200,
  "prettier.singleQuote": true,
  "prettier.arrowParens": "always",
  "editor.tabSize": 2,
  "editor.tabCompletion": "on",
  "printWidth": 110,
  "proseWrap": "desable"
}
