* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.mainsection {
    background: rgb(226, 213, 219);
    background: linear-gradient(90deg, rgb(212, 188, 199) 36%, rgba(142, 145, 247, 1) 100%);
    width: 80vh;

    margin-top: 20%;

    margin-left: 10%;
    border-radius: 72px;
    height: 300px;
    display: inline-flex;
    padding: 10%;
    text-align: center;
}

.left {

    height: 100%;
    width: 49%;
    border-right: #9d9d9d 1px solid;

}

.left input {
    margin-top: 30px;
    height: 30%;
    width: 160px;
    border: none;
    text-align: center;
    font-size: larger;
}

.right {
    height: 100%;

    margin-top: 0px;
    margin-left: 5px;
    height: 140px;
    border: none;
    width: 50%;
    background-size: cover;
    background-image: url(dota.png);
    background-position: center;
    background-repeat: no-repeat;


}




.show {
    text-align: center;
    font-size: 30px;
    color: #ffffff;
}

.changebtn {

    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background: linear-gradient(90deg, var(--c1, #f6d365), var(--c2, #fda085) 51%, var(--c1, #f6d365)) var(--x, 0)/ 200%;
    color: white;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    cursor: pointer;
}

.changebtn:hover {
    --x: 100%;
}

.btn-1 {
    --c1: #f6d365;
    --c2: #fda085;
}