* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.parent {
    display: flexbox;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 3;
    margin: auto;
    padding: 10%;
    width: 100%;
    text-align: center;
    font-size: 50px;
    color: white;

    background-image: linear-gradient(to left top, #528ade, #00a8dc, #00bcc0, #7bc9a3, #bfd19a);
}

.div2 {
    grid-area: 3 / 1 / 4 / 3;
    grid-area: 1 / 1 / 2 / 3;
    margin: auto;
    padding: 10%;
    width: 100%;
    text-align: center;
    font-size: 50px;
    color: white;

    background-image: linear-gradient(to left top, #528ade, #00a8dc, #00bcc0, #7bc9a3, #bfd19a);
}


.div3 {
    grid-area: 2 / 1 / 3 / 2;
    border: white 2px solid;
    padding: 20%;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.div4 {
    grid-area: 2 / 2 / 3 / 3;
    border: white 2px solid;
    padding: 20%;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.main {
    display: grid;
    text-align: center;
    width: 100%;
    background-image: linear-gradient(to right bottom, #528ade, #00a8dc, #00bcc0, #7bc9a3, #bfd19a);

    border: white 2px solid;


}


.div2 button {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    width: 140px;
    height: 50px;
    border-width: 1px;
    color: rgba(212, 205, 205, 1);
    border-color: rgb(56, 93, 156);
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    box-shadow: inset 0px 0px 15px 3px #0f5b6e;
    text-shadow: inset 0px 1px 0px rgba(30, 85, 250, 1);
    background: linear-gradient(#1eb8e7, #125e4b);
}

.div3 input {
    width: 60px;
    height: 30px;
    margin: 10px;
}