* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}




.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
    background-color: rgb(36, 36, 36);
    background-image: url(../pic/00001209.jpg);
    background-size: contain;
    background-blend-mode: multiply;
    background-color: rgb(80, 80, 80);
    position: relative;
}

.title {
    grid-area: 1 / 1 / 3 / 4;
    background-color: rgb(103, 150, 134);
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
}

.header {
    grid-area: 1 / 1 / 3 / 4;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgb(70, 64, 61) 100%);

}

.bar {
    margin-top: 2%;
    width: 95%;
    display: inline-flex;
    justify-content: space-between;


}

.midbar input {
    margin-left: 60px;

}

.bar input {
    border: none;
    background-color: rgba(240, 248, 255, 0);
    color: rgb(146, 146, 146);
    cursor: pointer;
    font-family: "B Zar";
    font-size: 20px;
    font-weight: bold;
    transition: 1s;
}



.bar input:hover,
.material-symbols-outlined:hover {
    transition: 0.5s;
    color: white;
}


.botheader {
    grid-area: 3 / 1 / 5 / 4;

    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(70, 64, 61) 100%);

}

.logo {
    background-image: url(../pic/ultra-2-scaled.jpg);

    background-size: cover;
    background-position-y: 43%;
    grid-area: 2 / 1 / 4 / 4;
    width: 70%;
    margin-left: 15%;
    border-radius: 30px;
    box-shadow: 50px 50px 100px #000000c5,
        -50px -50px 100px #14141400;
    position: relative;
    transition: 1s;

}

.logo p {
    position: absolute;
    left: 10px;
    top: 250px;
    font-family: "Calistoga", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

.logomain {
    position: absolute;
    left: 20px;
    top: 290px;
    font-family: "Calistoga", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 90px;
    background: -webkit-linear-gradient(rgb(255, 123, 0), rgb(168, 55, 55));
    -webkit-background-clip: text;
    text-shadow: 1px 1px 1px #ffbd5bc5,
        -50px -50px 100px #ffffff00;
    -webkit-text-fill-color: transparent;
}

.material-symbols-outlined {
    scale: 1.5;
    font-variation-settings:
        'FILL' 1,
        'wght' 500,
        'GRAD' 10000,
        'opsz' 45;
    color: rgb(204, 204, 204);
    margin: 5px;
    cursor: pointer;
    margin-right: 30px;
}



.intro {
    grid-area: 2 / 1 / 4 / 4;
    background-color: rgba(0, 0, 0, 0.918);
    height: 100vh;
    width: 100%;
    margin-top: 220px;

}

.one {
    height: 100%;

    /* 100 * 16 / 9 */
    min-width: 100%;
    min-height: 56.25vw;
    /* 100 * 9 / 16 */
    overflow: hidden;
    border-radius: 30px;
    margin-bottom: 40px;
    background-repeat: repeat;
    background-size: cover;

}

.slide {
    z-index: 0;

    height: 100px;
    position: absolute;
    right: 0;
    top: 5.5%;
    padding-right: 5%;
    text-align: center;


}

.sideitems {
    position: absolute;
    left: 0;
    width: 400px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.842);
    color: rgb(187, 187, 187);
    height: 100vh;
    z-index: 10;


}

.sideitems ul {
    margin-top: 50px;

}

#closemenu {

    margin-left: 30px;
    transition: 0.5s;
}

.sideitems li {
    padding: 20px;
    margin-top: 50px;
    border-bottom: 1.5px solid rgba(68, 68, 68, 0.753);
    padding-bottom: 70px;



}

.sideitems {


    position: absolute;
    right: 0;
    width: 200;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.842);
    color: rgb(187, 187, 187);
    height: 100vh;
    z-index: 10;


}

.sideitems li:hover {

    cursor: pointer;
    color: aliceblue;
    transition: 0.5s;


}

.div3 {
    grid-area: 4 / 1 / 5 / 4;
}

.div4 {
    grid-area: 5 / 1 / 6 / 2;
}

.div5 {
    grid-area: 5 / 2 / 6 / 3;
}

.div6 {
    grid-area: 5 / 3 / 6 / 4;
}

.div7 {
    grid-area: 6 / 1 / 7 / 4;
}

.div8 {
    grid-area: 7 / 1 / 8 / 2;
}

.div9 {
    grid-area: 7 / 2 / 8 / 3;
}

.div10 {
    grid-area: 7 / 3 / 8 / 4;
}

.div11 {
    grid-area: 8 / 1 / 9 / 4;
}

.div12 {
    grid-area: 9 / 1 / 10 / 2;
}

.div13 {
    grid-area: 9 / 2 / 10 / 3;
}

.div14 {
    grid-area: 9 / 3 / 10 / 4;
}

.div15 {
    grid-area: 10 / 1 / 11 / 4;
}

.div16 {
    grid-area: 11 / 1 / 12 / 4;
}

.div17 {
    grid-area: 12 / 1 / 13 / 4;
}