* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {

    --main-font: #f3e98b;
    --bc-page: #000000;
    --off-font: rgb(37, 37, 37);

}


.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
    background-image: linear-gradient(to top, #111111, #0d0d0d, #090909, #050505, #000000);
    background-repeat: repeat;
    background-size: cover;
    position: relative;
}

.title {
    grid-area: 1 / 1 / 3 / 4;

    height: 90vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
}

.header {
    grid-area: 1 / 1 / 3 / 4;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0.466) 0%, rgb(70, 64, 61) 100%);


}

.bar {

    background-color: var(--bc-page);
    height: 280px;
    width: 100%;
    position: fixed;
    transition: 1s;
    z-index: 10;

}


.midbar {
    margin-top: 130px;
    transition: 1.5s;
}

.midbar input {

    margin-left: 58px;


}

.bar input {
    border: none;
    background-color: rgba(240, 248, 255, 0);
    color: var(--main-font);
    cursor: pointer;
    font-family: "B Zar";
    font-size: 18px;
    font-weight: bold;
    transition: 1s;
    margin-top: 89px;
    position: relative;
}



.bar input:hover,
.material-symbols-outlined:hover {
    transition: 0.5s;
    color: rgb(224, 179, 29);
}


.leftbar {
    position: absolute;
    padding-left: 20px;

}

.botheader {
    grid-area: 3 / 1 / 5 / 4;
    height: 300px;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(70, 64, 61) 100%);

}

.logopic {
    z-index: 11;
    position: absolute;
    height: 180px;
    width: 180px;
    top: 0;
    left: 45%;
    margin-top: 10px;
    /* 100 * 16 / 9 */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../pic/logopic.png);
    position: fixed;

    background-color: #000000;
    transition: 1s;

}

.logo {
    background-image: url(../pic/ultra-2-scaled.jpg);

    background-size: cover;
    background-position-y: 43%;
    grid-area: 2 / 1 / 4 / 4;
    width: 70%;
    height: 500px;
    margin-left: 15%;
    margin-top: 300px;
    border-radius: 30px;
    box-shadow: 50px 50px 100px #000000c5,
        -50px -50px 100px #14141400;
    position: relative;
    transition: 1s;

}

/* .logo p {
    position: absolute;
    left: 10px;
    top: 250px;
    font-family: "Calistoga", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
} */

/* .logomain {
    position: absolute;
    left: 20px;
    top: 290px;
    font-family: "Calistoga", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 90px;
    background: -webkit-linear-gradient(rgb(255, 123, 0), rgb(168, 55, 55));
    -webkit-background-clip: text;
    text-shadow: 1px 1px 1px #ffbd5bc5,
        -50px -50px 100px #ffffff00;
    -webkit-text-fill-color: transparent;
} */

.material-symbols-outlined {
    scale: 1.5;
    font-variation-settings:
        'FILL' 1,
        'wght' 500,
        'GRAD' 10000,
        'opsz' 45;
    color: var(--main-font);
    margin: 5px;
    cursor: pointer;
    margin-right: 30px;
    z-index: 1000;
}

.rightbar {

    text-align: right;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
}

.intro {
    grid-area: 2 / 1 / 4 / 4;
    background-color: rgba(0, 0, 0, 0.918);
    height: 100vh;
    width: 100%;
    margin-top: 220px;

}

.one {
    height: 100%;
    width: 100%;
    /* 100 * 16 / 9 */
    min-width: 100%;
    min-height: 50VH;
    /* 100 * 9 / 16 */
    overflow: hidden;
    margin-top: 300px;
    margin-bottom: 40px;
    background-repeat: repeat;
    background-size: cover;

}

.slide {
    z-index: 110;
    z-index: 1000;
    height: 100px;
    position: absolute;
    right: 0;
    top: 8%;
    padding-right: 5%;
    text-align: center;


}

.sideitems {
    position: absolute;
    left: 0;
    width: 270px;
    text-align: center;
    color: var(--main-font);
    height: 100vh;
    z-index: 12;

    position: absolute;
    right: 0;
    width: 200;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.842);
    color: var(--main-font);
    height: 100vh;
}

.sideitems ul {
    margin-top: 50px;
    z-index: 11;

}

.closemenu {

    z-index: 100;

    color: aliceblue;

    transition: 0.5s;
}

.sideitems li {
    z-index: 1000;

    padding: 20px;
    margin-top: 50px;
    border-bottom: 1.5px solid rgb(68, 68, 68);
    padding-bottom: 70px;
    z-index: 158364;



}


.sideitems li:hover {

    cursor: pointer;
    color: var(--off-font);
    transition: 0.5s;


}

.div3 {
    grid-area: 4 / 1 / 5 / 4;
}

.div4 {
    grid-area: 5 / 1 / 6 / 2;
}

.div5 {
    grid-area: 5 / 2 / 6 / 3;
}

.div6 {
    grid-area: 5 / 3 / 6 / 4;
}

.div7 {
    grid-area: 6 / 1 / 7 / 4;
}

.div8 {
    grid-area: 7 / 1 / 8 / 2;
}

.div9 {
    grid-area: 7 / 2 / 8 / 3;
}

.div10 {
    grid-area: 7 / 3 / 8 / 4;
}

.div11 {
    grid-area: 8 / 1 / 9 / 4;
}

.div12 {
    grid-area: 9 / 1 / 10 / 2;
}

.div13 {
    grid-area: 9 / 2 / 10 / 3;
}

.div14 {
    grid-area: 9 / 3 / 10 / 4;
}

.div15 {
    grid-area: 10 / 1 / 11 / 4;
}

.div16 {
    grid-area: 11 / 1 / 12 / 4;
}

.div17 {
    grid-area: 12 / 1 / 13 / 4;
}